{% extends 'base.html' %}
{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 mt-4 w-50">Welcome to Your Blogs</legend>
             <div class="form-group mb-4">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                     {{ form.username(class="form-control form-control-lg w-50 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                      {{ form.username(class="form-control form-control-lg w-50") }}
                {% endif %}
             </div>
             <div class="form-group mb-4">
                {{ form.password.label(class="form-control-label") }}
                 {% if form.password.errors %}
                     {{ form.password(class="form-control form-control-lg w-50 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                      {{ form.password(class="form-control form-control-lg w-50") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.remember.label }}
                {{ form.remember }}
            </div>
        </fieldset>
         <div class="form-group mb-3">
            {{ form.submit(class="btn btn-lg btn-outline-dark") }}
        </div>
        <div class="border-top pt-2 w-50">
            <small class="text-muted">
                New to Your Blogs ? <a class="ml-2" href="{{ url_for('register') }}">Register</a>
            </small>
        </div>
    </form>
</div>
{% endblock %}